extends layout 

block main-content 
  h1.page-title Administrator menu links 
  table.table
    thead 
      tr 
        th Menu Name 
        th Cooked 
        th ImageId
        th Price
        th Ingredients
    tbody 
      each link in menu 
        tr 
          td #{link.Name}
          td #{link.Day}
          td #{link.ImageId}
          td #{link.Price}
          td #{link.Desc}
