extends layout 

block append scripts 
  //add more scripts to the scripts block from layout.pug
  script(src="/about.js")
  script(src="home.js")


block main-content 
    h1.margin #{title}
    p Order your favorite dishes from our fresh recipes every week


    div.container-sm
      h2.margin  Menu
      .row.row-cols-1.row-cols-md-3.g-4
        each link in menu
          .col
            .card(style='width: 18rem;')
              img.card-img-top(src='/img/'+link.ImageId+'.jpg', alt=link.Name)
              .card-body
                h5.card-title #{link.Name} 
                p.card-text
                  | #{link.Desc}
                p.card-text(style='color: red; font-weight:bold')                
                  | Price: $ #{link.Price} 
                div(style='display: flex; justify-content:space-around'  )
                  input(type="number" style='width:50px' placeholder="1")
                  a.btn.btn-success(href='#') Add to Cart